.fadeInDownBounce {
  animation: animationFrames ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 0.7s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 0.7s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {    
    margin-top:-30px;
    opacity:0;    
  }
  56% {
    margin-top:12px;
    opacity:1;
  }
  100% {    
    margin-top:0px;
    opacity:1;    
  }
}

@-moz-keyframes animationFrames{
  0% {    
    margin-top:-30px;
    opacity:0;    
  }
  56% {
    margin-top:12px;
    opacity:1;
  }
  100% {    
    margin-top:0px;
    opacity:1;
  }
}

@-webkit-keyframes animationFrames {
  0% {    
    margin-top:-30px;
    opacity:0;    
  }
  56% {
    margin-top:12px;
    opacity:1;
  }
  100% {    
    margin-top:0px;
    opacity:1;
  }
}

@-o-keyframes animationFrames {
  0% {    
    margin-top:-30px;
    opacity:0;
  }
  56% {
    margin-top:12px;
    opacity:1;
  }
  100% {    
    margin-top:0px;
    opacity:1;
  }
}

@-ms-keyframes animationFrames {
  0% {    
    margin-top:-30px;
    opacity:0;
  }
  56% {
    margin-top:12px;
    opacity:1;
  }
  100% {    
    margin-top:0px;
    opacity:1;
  }
}