/* Primary Logo (Image Based)
---------------------------------------------------------------------- */

	#logo {
		position: relative;
		display: block;
		@include box-sizing;
		@extend %hide-text;
		margin: 0 auto;
		@include size(191 75);
		@include retina-image(logo, 191px 75px)
	}