/* Ornament Creator
---------------------------------------------------------------------- */

#ornament_creator {

	h2 {
		@include retina-image(banner/h_decorate-bg, rs(540) rs(136));
		
		@include respond-max($breakpoint-modal){
			@include retina-image(banner/h_decorate-sm, rs(320) rs(136));
		}
	}

	// Shape Chooser
	// =============
	
	#ornament_chooser {
		position: relative;
		z-index: 1;
		margin-top: -(rs(20));
		text-align: center;
		
		@include respond-max($breakpoint-modal){
			margin: 0 -(rs(30));
		}
		
		a {
			position: absolute;
			z-index: 1;
		}
		
		.shape_left,
		.shape_right {
			top:50%;
			width: rs(71);
			height: rs(71);
			margin: -(rs(35)) 0 0;
			
			@include respond-max($breakpoint-modal){
				display: none;
			}
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		.shape_left 	{ left:  -(rs(20)); }
		.shape_right 	{ right: -(rs(20)); }
		
		.prev,
		.next {
			top:50%;
			@extend %hide-txt;
			font-size: 16px;
			width: rs(45);
			height: rs(50);
			margin: -(rs(25)) 0 0;
			@include retina-image(decorate/arrows, 90px 100px);
		}
		
		.prev {
			left: 10%;

			&:active {
				background-position: 0 -50px;
			}
			
			@include respond-max($breakpoint-modal){
				left: 0;
			}
		}
		
		.next {
			right: 10%;
			
			background-position: -45px 0;
			
			&:active {
				background-position: -45px -50px;
			}
			
			@include respond-max($breakpoint-modal){
				right: 0;
			}
		}

	}
	
	// Decorator Tools
	// ===============
	
	#ornament_decorator {
		position: relative;
		z-index: 1;
		margin: 0 -(rs(30));
		@extend %clearfix;

		#choose_patterns,
		#choose_stickers {
			float: left;
			width: 50%;
			
			@include respond-max($breakpoint-modal){
				float: none;
				width: 100%;
			}
			
			h3 {
				margin: 0 auto;

				a {
					display: block;
					width: rs(230);
					height: rs(82);
					font-size: 16px;
					line-height: 1;
					text-indent: -9999px;
					overflow: hidden;
					
					@include respond-max($breakpoint-modal){
						width: rs(300);
						height: rs(93);
						margin-left: -(rs(8));
					}
				}
			}
		}

		ul {
			margin: -(rs(20)) auto 0;
			width: rs(200);
			padding: rs(24);
			@extend .clearlist;
			@extend %clearfix;

			@include respond-max($breakpoint-modal){
				width: rs(230);
			}
			
			
			li {
				float: left;
				width: rs(50);
				height: rs(50);
				
				@include respond-max($breakpoint-modal){
					margin: rs(3);
				}
				
				a {
					position: relative;
					display: block;
					
					&.on:before {
						content: "";
						position: absolute;
						z-index: 1;
						top:0;
						width:100%;
						height: 100%;
					}
				}
				
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		
		// Choose Patterns
		
		#choose_patterns {
			
			h3 a {
				@include retina-image(decorate/patterns_banner, 230px 82px);
				
				@include respond-max($breakpoint-modal){
					@include retina-image(decorate/patterns_banner-on, 300px 93px);
				}
			}
			
			ul {
				@include retina-image(decorate/patterns_bkgrd, 100% 100%);
				
				li a.on:before {
					@include retina-image(decorate/pattern_on, 50px 50px);
				}
			}
		}
		
		// Choose Stickers
		
		#choose_stickers {
			
			h3 a {
				@include retina-image(decorate/stickers_banner, 230px 82px);
			
				@include respond-max($breakpoint-modal){
					@include retina-image(decorate/stickers_banner-on, 300px 93px);
				}
			}
			
			ul {
				@include retina-image(decorate/stickers_bkgrd, 100% 100%);
				
				li a.on:before {
					@include retina-image(decorate/sticker_on, 50px 50px);
				}
			}
		}
		
	}

}

/* Ornament Detail pulled out so it can be used in other modals...
---------------------------------------------------------------------- */

.ornament_detail {
	@include inline-block;
	position: relative;
	z-index: 0;
	margin: 0 -(rs(30));
	
	img.sticker {
		position: absolute;
		z-index: 1;
		top:0;
		left: 0;
	}
}