/* Variables
---------------------------------------------------------------------- */

// Colour Scheme
// =============

	// Main colour palette
	$color-primary 				: #b9b227;
	$color-secondary 			: #6b747c;
	$color-bkgrd 					: #272829;
	$color-bkgrd-box 			: rgba(45, 72, 89, 0.95);
	
	// Common colours
	$color-text					 	: #efefef;
	$color-text-light			: lighten(#efefef,2%);
	$color-text-secondary	: #bdc3c8;
	$color-text-dark 			: darken($color-secondary,30%);
	$color-border				 	: #ddd;
	$color-overlay-dark		: rgba(34,45,50,0.95);
	$color-overlay-light	: rgba(255,255,255,0.95);
	$color-overlay-blue				 : rgba(45,72,89,0.95);
	$color-overlay-brightblue	 : rgba(58,166,216,0.95);
	
	// Links
	$color-link-default	 	: darken($color-primary,5%);
	$color-link-hover		 	: darken($color-primary,20%);
	$color-link-visited	 	: $color-link-default;
	$color-link-active	 	: $color-link-hover;
	
	// Selections
	$color-selection		 	: #b3d4fc;
	$color-highlight 			: $color-selection;
	
	// Social Colors
	$color-twitter				: #1dabf0;
	$color-facebook				: #526cb1;
	$color-linkedin				: #1b86bd;
	$color-gplus					: #d94735;
	$color-microsoft			: #1ba7e4;
	$color-email					: #8ca451;
	
	// Messages
	$color-message				: darken(#f4ecbb,30%);
	$color-success				: green;
	$color-warning				: orange; // Orange
	$color-alert					: #f2ab00; 	// Yellow
	$color-error					: #d00;			// Red
	$color-notice					: #66b;			// Purple, huh?


// Base Sizes
// ==========
// Included shorthands as these may be used a lot.

	$base-font-size				: 14;
	$base-line-height			: 24;
	$base-fs							: $base-font-size;
	$base-lh							: $base-line-height;
	
	$base-gutter					: 1.714em;	// 24px
	$gut									: $base-gutter;
	$base-site-width-min	: 39.857em;		// 558px
	$base-site-width-max	: 73.571em;		// 1030px
	
// Breakpoints
// ===========

	$breakpoint-mid: ($base-site-width-max - $base-site-width-min)/2 + $base-site-width-min;
	$breakpoint-wide: $base-site-width-max;


// OfficinaSans
// ============
/* @import must be at top of file, otherwise CSS will not work */
	@import url("//hello.myfonts.net/count/26b51e");
	
	@font-face {font-family: 'OfficinaSansITCStd-Book';src: url('/fonts/26B51E_0_0.eot');src: url('/fonts/26B51E_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/26B51E_0_0.woff') format('woff'),url('/fonts/26B51E_0_0.ttf') format('truetype');}
	
	@font-face {font-family: 'OfficinaSansITCStd-Bold';src: url('/fonts/26B51E_1_0.eot');src: url('/fonts/26B51E_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/26B51E_1_0.woff') format('woff'),url('/fonts/26B51E_1_0.ttf') format('truetype');}


// Fonts
// ===========

	$font-family-sans 		: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$font-family-serif 		: Georgia, Times, "Times New Roman", serif;
	$font-family-display 	: $font-family-sans;
	$font-family-caption 	: $font-family-serif;
	$font-family-default 	: $font-family-sans;
	$font-family-brand 		: "OfficinaSansITCStd-Book", Georgia, Times, "Times New Roman", serif;
	$font-family-brand-b 	: "OfficinaSansITCStd-Bold", Georgia, Times, "Times New Roman", serif;
	
	$font-weight-light		: 300;
	$font-weight-normal		: 400;
	$font-weight-semibold	: 700;
	$font-weight-bold			: 900;