/* Variables
---------------------------------------------------------------------- */

// Colour Scheme
// =============

	// Main colour palette
	$color-primary 				: rgb(227, 144, 39);	// Gold
	$color-secondary 			: rgb(163, 5, 15);		// Deep Red
	$color-tertiary 			: rgb(66, 140, 51);		// Green
	$color-bkgrd 					: rgb(10, 28, 37);		// Dark Blue
	$color-bkgrd-lighter 	: rgb(27, 46, 57);		// Dark Blue (grad top)
	$color-bkgrd-lightest : rgb(158, 190, 205);	// Light Blue (snow)

	
	// Common colours
	$color-text					 	: #efefef;
	$color-text-light			: lighten(#efefef,2%);
	$color-text-secondary	: #bdc3c8;
	$color-text-dark 			: darken($color-secondary,30%);
	$color-border				 	: #ddd;
	
	// Links
	$color-link-default	 	: darken($color-primary,5%);
	$color-link-hover		 	: darken($color-primary,20%);
	$color-link-visited	 	: $color-link-default;
	$color-link-active	 	: $color-link-hover;
	
	// Selections
	$color-selection		 	: #b3d4fc;
	$color-highlight 			: $color-selection;
	
	// Social Colors
	$color-twitter				: #1dabf0;
	$color-facebook				: #526cb1;
	$color-linkedin				: #1b86bd;
	$color-gplus					: #d94735;
	$color-microsoft			: #1ba7e4;
	$color-email					: #8ca451;
	
	// Messages
	$color-message				: darken(#f4ecbb,30%);
	$color-success				: green;
	$color-warning				: orange; 	// Orange
	$color-alert					: #f2ab00; 	// Yellow
	$color-error					: #d00;			// Red
	$color-notice					: #66b;			// Purple, huh?


// Base Sizes
// ==========
// Included shorthands as these may be used a lot.

	$base-font-size				: 16;
	$base-line-height			: 24;
	$base-fs							: $base-font-size;
	$base-lh							: $base-line-height;
	
	$base-gutter					: 1.714em;	// 32px
	$gut									: $base-gutter;
	$base-site-width-min	: 20em;			// 320px
	$base-site-width-max	: 99.75em;	// 1596px
	$base-site-height-min : 43.75em; 	// 700px
	$base-site-height-mid : 57.5em; 	// 920px
	$base-site-height-max : 68.75em; 	// 1100px
	
// Breakpoints
// ===========

	$breakpoint-mid 			: ($base-site-width-max - $base-site-width-min)/2 + $base-site-width-min;
	$breakpoint-wide 			: $base-site-width-max;
	$breakpoint-short 		: $base-site-height-mid;
	$breakpoint-tall 			: $base-site-height-max;


// Fonts
// ===========
	@font-face {
		font-family: 'sofiaregular';
	    src: font-url('sofia-regular-webfont.eot');
	    src: font-url('sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         font-url('sofia-regular-webfont.woff') format('woff'),
	         font-url('sofia-regular-webfont.ttf') format('truetype'),
	         font-url('sofia-regular-webfont.svg#sofiaregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	$font-family-sans 		: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$font-family-serif 		: Georgia, Times, "Times New Roman", serif;
	$font-family-display 	: $font-family-sans;
	$font-family-caption 	: $font-family-serif;
	$font-family-default 	: $font-family-sans;
	$font-family-brand 		: "sofiaregular", Georgia, Times, "Times New Roman", serif;
	$font-family-brand-b 	: $font-family-brand;
	
	$font-weight-light		: 300;
	$font-weight-normal		: 400;
	$font-weight-semibold	: 700;
	$font-weight-bold			: 900;